- if delivery_info.errors.any?
  - unless delivery_info.valid?
    - if errors = delivery_info.errors.full_messages_for(column.to_sym)
      %ul.signup-main__has-error-text
        - errors.each do |error|
          %li= error