@import "slick-theme"; 
@import "slick";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "config/reset";
@import "config/colors";
@import "shared/header";
@import "shared/footer";
@import "module/products/show";
@import "module/products/main";
@import "module/products/sellbuttom";
@import "mypage/mypage";
@import "mypage/mypage.content";
@import "mypage/mypage.side-bar";


body {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}